@import "../../styles/vars.scss";
@import "../../styles/font-mixins.scss";
@import "../../styles/samples.scss";

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.input {
  @extend %input-field;
  height: 30px;
  width: 50%;
  padding-left: 10px;
}
.inputError.inputError {
  @extend %input-error;
}
.openBtn {
  @extend %action-btn;
  margin-right: 10px;
  transform: rotate(45deg);
}
.openedBtn {
  color: white;
  background-color: $action-color;
  transform: rotate(90deg);
}
