@import "../../styles/vars.scss";
@import "../../styles/font-mixins.scss";
@import "../../styles/samples.scss";

.wrapper {
  flex-basis: 50%;
  display: flex;
  max-width: 45%;
  margin: 10px 0;
  align-items: center;

  @media #{$screen-md-wide} {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.label {
  @include main-text;
  white-space: nowrap;
  font-weight: 500;
}
.input {
  @extend %input-field;
  margin-left: 10px;
  
  @media #{$screen-md-wide} {
    &[type="date"] {
      width: min-content;
    }
  }
}

.input-error {
  @extend %input-error;
}
