@import "../../styles/vars.scss";
@import "../../styles/font-mixins.scss";
.section {
  @include section;
}
.title {
  @include section-title;
}
.list {
  list-style: none;
  padding: 0 50px;
}
.wrapper {
  border-left: 2px solid $main-color;
  padding: 0 15px;
}
