%input-field {
  @include main-text;
  box-sizing: content-box;
  height: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid $secondary-color;
  width: 100%;
  font-style: italic;
  &:focus {
    border-color: $main-color;
    background-color: $main-light-color;
  }
}
%input-error {
  border-color: $danger-color;
  background-color: rgba($color: $danger-color, $alpha: 0.2);
  &:focus {
    border-color: $danger-color;
    background-color: rgba($color: $danger-color, $alpha: 0.2);
  }
}
