$main-color: #1976d2;
$secondary-color: #a3adbb;
$inactive-color: #eee;
$action-color: #ffa000;
$main-light-color: #f5f8fe;
$success-color: #8bc34a;
$danger-color: #e53935;
$main-bg-color: #fff;
$main-font: "Roboto", sans-serif;
$global-font-size: 16px;
$hover-time-btn: 0.1s;
