@import "../../styles/vars.scss";
@import "../../styles/reset.scss";
@import "../../styles/font-mixins.scss";
.app {
  max-width: 1440px;
  width: 100%;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
  padding: 50px 30px;
}
.logoWrapper {
  padding: 0 0 0 30px;
}
.logo {
  height: 50px;
}

.contentWrapper {
  display: flex;
}
.content {
  width: 50%;
  padding: 20px 30px;
  height: 300px;
  &:first-child {
    border-right: 2px solid $inactive-color;
  }
}
.contentTitle {
  @include article-title;
  color: $main-color;
  margin-bottom: 20px;
}
