@import "../../styles/vars.scss";
@import "../../styles/font-mixins.scss";

.wrapper {
  display: flex;
  align-items: center;
  padding-left: 10px;
  @media #{$screen-md-wide} {
    margin-bottom: 15px;
  }
}

.label {
  @include main-text;

  cursor: pointer;
  position: relative;
  padding: 0 5px;
}

.radio {
  display: none;
  margin-right: 5px;

  + .label::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $inactive-color;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:checked + .label::before {
    box-shadow: 0 0 10px $main-color;
    background-color: $main-color;
  }
}
