@import "../../styles/vars.scss";
@import "../../styles/font-mixins.scss";

.wrapper {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.label {
  font-style: italic;
  @include main-text;
  cursor: pointer;
  position: relative;
  padding: 0 5px;
}

.radio {
  display: none;
  margin-right: 5px;
  &:checked + .label::before {
    border-color: $main-color;
    box-shadow: 0 0 5px $main-color;
  }
  + .label::before {
    content: "";
    height: 100%;
    width: 0;
    border-left: 2px solid $secondary-color;
    position: absolute;
    left: 0;
  }
}
