@import "../../styles/vars.scss";
@import "../../styles/font-mixins.scss";
@import "../../styles/samples.scss";
@import "../../styles/animations.scss";

.wrapper {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $inactive-color;
  align-items: center;
  padding: 15px 10px;
  position: relative;
  flex-grow: 0;
  @media #{$screen-xs-wide} {
    flex-direction: column;
  }

  &::before {
    content: "";
    width: 10px;
    position: absolute;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    left: -28px;
    border: 2px solid $main-color;
  }

  &:hover::before {
    animation: pulse 2s infinite;
  }
}

.name {
  @include main-text;
  flex-grow: 1;
  overflow-wrap: anywhere;
  padding: 0 10px;
}

.rating {
  display: flex;
  @media #{$screen-xs-wide} {
    padding-top: 10px;
  }
}

.btn-wrap {
  padding-left: 10px;
  border-left: 1px solid $inactive-color;
  margin-left: 10px;
}

.close-btn {
  @extend %tab-close-btn;
}
