@import "../../styles/vars.scss";
@import "../../styles/font-mixins.scss";
@import "../../styles/samples.scss";
@import "../../styles/animations.scss";

.header {
  display: flex;
}
.section {
  display: flex;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  @media #{$screen-sm-wide} {
    flex-direction: column;
    padding-left: 20px;
  }
}
.wrapper {
  border-bottom: 1px solid $inactive-color;
  border-left: 2px solid $main-color;
  padding: 20px 10px 20px 20px;
  width: 100%;
  position: relative;
  @media print {
    break-inside: avoid;
  }

  &::before {
    content: "";
    width: 10px;
    position: absolute;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    left: -8px;
    top: 32px;
    border: 2px solid $main-color;

    @media #{$screen-xs-wide} {
      left: -8px;
    }
  }

  &:hover::before {
    animation: pulse 2s infinite;
  }
}
.input-wrapper {
  flex-basis: 100%;
  margin-left: 20px;
  @media #{$screen-sm-wide} {
   margin-left: 0;
 }
  @media print {
    display: none;
  }
}
.name {
  @include main-text;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow-wrap: anywhere;
  padding: 10px;
  font-weight: 500;

  @media #{$screen-xs-wide} {
    width: fit-content;
  }
}

.topics {
  padding: 0 34px 0 10px;
  margin-left: 20px;
  flex-basis: 100%;
  border-left: 2px solid $inactive-color;
  @media #{$screen-sm-wide} {
    margin-left: 0;
  }
}
.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  border-left: 1px solid $inactive-color;

  @media #{$screen-xs-wide} {
    padding: 0;
    margin: 0;
  }
  @media print {
    display: none;
  }
}

.close-btn,
.add-btn {
  @extend %tab-close-btn;
  margin: 0 5px;
  font-size: 12px;
}
.close-btn {
  color: $danger-color;

  &:hover {
    color: $danger-color-hover;
  }
}
.add-btn {
  color: $success-color;
  &:hover {
    color: $success-color-hover;
  }
}
