@import "./styles/vars.scss";
@import "./styles/reset.scss";

html {
  font-size: $global-font-size;
  @media #{$screen-xs-wide} {
   font-size: $global-font-size-small;
}
}

body {
  background-color: $main-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
