@import "./styles/vars.scss";
@import "./styles/reset.scss";

html {
  font-size: $global-font-size;
  overflow-y: scroll;
  @media #{$screen-xs-wide} {
    font-size: $global-font-size-small;
  }
}

body {
  background-color: $main-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;

  @media #{$screen-sm-wide} {
    padding: 0;
  }
  @media print {
    padding: 0;
    margin: 1cm;
  }
}
@media print {
  *::placeholder {
    color: transparent;
  }
  @page {
    margin: 0; //hides header and footer of page when printed
    size: A4 portrait;
    marks: none;
    bleed: auto;
  }
}
