@import "./vars.scss";

@mixin article-title {
  font-family: $main-font;
  font-size: 1.75rem;
  color: $main-color;
  font-weight: 500;
}
@mixin section-title {
  font-family: $main-font;
  color: $main-color;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 25px;
}
@mixin section {
  margin: 10px 0;
  padding: 25px 0;
  border-bottom: 1px solid $inactive-color;
}
@mixin main-text {
  font-family: $main-font;
  font-size: 1rem;
  font-weight: 400;
}
