$main-color: #1976d2;
$secondary-color: #a3adbb;
$inactive-color: #eee;
$action-color: #ffa000;
$main-light-color: #f5f8fe;
$success-color: #8bc34a;
$success-color-hover: #1e7e34;
$danger-color: #e53935;
$danger-color-hover: #bd2130;

$main-bg-color: #fff;

$main-font: "Roboto", sans-serif;

$global-font-size: 16px;
$global-font-size-small: 14px;
$hover-time-btn: 0.2s;

$xl: 1600px;
$screen-xl-wide: "only screen and (max-width: #{$xl})";
$lg: 1400px;
$screen-lg-wide: "only screen and (max-width: #{$lg})";
$md: 850px;
$screen-md-wide: "only screen and (max-width: #{$md})";
$sm: 620px;
$screen-sm-wide: "only screen and (max-width: #{$sm})";
$xs: 500px;
$screen-xs-wide: "only screen and (max-width: #{$xs})";

$screen-min-wide: "only screen and (max-width: 0)";
